api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  mytlschallenge:
    acme:
      email: admin@example.com
      storage: /letsencrypt/acme.json
      tlsChallenge: true
